.submitBtn {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background-color: yellow;
}
.mainBox {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
